<ion-header>
</ion-header>
<ion-content>
    <ion-grid margin-top padding>
        <ion-row align-items-center text-center>
            <ion-col>
                <ion-button float-left class="header-button" expand="block"
                            color="outline"
                            margin="auto"
                            color="light"
                            (click)="refillButtonClick()">
                    <ion-icon name="call"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col></ion-col>
            <ion-col align-items-center>
                <ion-button float-right class="header-button" expand="block"
                            color="outline"
                            margin="auto"
                            color="light">
                    <ion-img src="assets/button/button_settings.png"></ion-img>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
