#drink-button {
  height: 100%;
}

.header-button {
  width: 100px;
  height: 100px;
}

.fill-height {
  height: 100%;
}

.drinde-text {
  font-weight: bold;
  color: #2482bb;
  font-size: 24pt;
  font-family: Righteous;
}

.small-text {
  font-weight: normal;
  color: var(--ion-color-secondary);
  font-size: 10pt;
  font-family: Caveat;
}